In [1]:
x = ["Pascaline", "Gauthier", "Xuan", "Jimmy"]
print(x)

['Pascaline', 'Gauthier', 'Xuan', 'Jimmy']

In [2]:
y = [1, 2, 3, 4, 5]
print(y)

[1, 2, 3, 4, 5]

In [3]:
z = ["Piketty", "Thomas", 1971]
print(z)

['Piketty', 'Thomas', 1971]

In [7]:
tweets = ["aaa", "bbb"]
followers = ["Anne", "Bob", "Irma", "John"]
compte = [tweets, followers]
print(compte)

[['aaa', 'bbb'], ['Anne', 'Bob', 'Irma', 'John']]

In [5]:
print(x[0]) # The first element of x

print(x[1]) # The second element of x

Pascaline
Gauthier

In [8]:
print(x[-1]) # The last element of x

Jimmy

In [9]:
print(x[-2]) # The penultimate element of x

print(x[1:2]) # The first and second elements of x

print(x[2:]) # From the second element (not included) to the end of x

print(x[:-2]) # From the first to the penultimate (not included)

Xuan
['Gauthier']
['Xuan', 'Jimmy']
['Pascaline', 'Gauthier']

In [10]:
print(x[::2]) # Every other element

['Pascaline', 'Xuan']

In [11]:
tweets = ["aaa", "bbb"]
followers = ["Anne", "Bob", "Irma", "John"]
conuts = [tweets, followers]
res = conuts[1][3] # The 4th item of the 2nd item on the list counts

In [12]:
print(len(conuts))

2

In [13]:
print(len(conuts[1]))

4

In [14]:
x = [1, 3, 5, 6, 9]
x[3] = 7 # Replacing the 4th element
print(x)

[1, 3, 5, 7, 9]

In [15]:
x.append(11) # Add value 11 at the end of the list
print(x)

[1, 3, 5, 7, 9, 11]

In [16]:
y = [13, 15]
x.extend(y)
print(x)

[1, 3, 5, 7, 9, 11, 13, 15]

In [17]:
x.remove(3) # Remove the fourth element
print(x)

[1, 5, 7, 9, 11, 13, 15]

In [18]:
x = [1, 3, 5, 6, 9]
del x[3] # Remove the fourth element
print(x)

[1, 3, 5, 9]

In [19]:
x = [1, 3, 5, 6, 10]
x[3:5] = [7, 9] # Replaces 4th and 5th values
print(x)

[1, 3, 5, 7, 9]

In [20]:
x = [1, 2, 3, 4, 5]
x[2:3] = ['a', 'b', 'c', 'd'] # Replaces the 3rd value
print(x)

[1, 2, 'a', 'b', 'c', 'd', 4, 5]

In [21]:
x = [1, 2, 3, 4, 5]
x[3:5] = [] # Removes the 4th and 5th values
print(x)

[1, 2, 3]

In [22]:
x = [1, 2, 3, 4, 5]
print(1 in x)

True

In [23]:
x = [1, 2, 3]
y = x

In [24]:
y[0] = 0
print(y)

print(x)

[0, 2, 3]
[0, 2, 3]

In [25]:
x = [1, 2, 3]
y = list(x)
y[0] = 0
print("x : ", x)

x :  [1, 2, 3]

In [26]:
print("y : ", y)

y :  [0, 2, 3]

In [27]:
x = [1, 2, 3, 4]
y = x[:2]
y[0] = 0
print("x : ", x)

x :  [1, 2, 3, 4]

In [28]:
print("y : ", y)

y :  [0, 2]

In [29]:
x = [2, 1, 4, 3]
x.sort()
print(x)

[1, 2, 3, 4]

In [30]:
x = ["c", "b", "a", "a"]
x.sort()
print(x)

['a', 'a', 'b', 'c']

In [31]:
x = ["aa", "a", "aaaaa", "aa"]
x.sort(key=len)
print(x)

['a', 'aa', 'aa', 'aaaaa']

In [32]:
x = 1, 4, 9, 16, 25
print(x)

(1, 4, 9, 16, 25)

In [34]:
print(x[0])

1

In [35]:
x[0] = 1

TypeError: 'tuple' object does not support item assignment

In [36]:
x = ((1, 4, 9, 16), (1, 8, 26, 64))
print(x)

((1, 4, 9, 16), (1, 8, 26, 64))

In [37]:
new_set = set({"Marseille", "Aix-en-Provence",
"Nice", "Rennes"})
print(new_set)

{'Marseille', 'Rennes', 'Nice', 'Aix-en-Provence'}

In [38]:
new_set = {"Marseille", "Aix-en-Provence", "Nice", "Rennes"}
print(new_set)

{'Marseille', 'Rennes', 'Nice', 'Aix-en-Provence'}

In [39]:
empty_set = {}
type(empty_set)

dict

In [40]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [41]:
new_set = set({"Marseille", "Aix-en-Provence", "Nice", "Marseille", "Rennes"})
print(new_set)

{'Marseille', 'Rennes', 'Nice', 'Aix-en-Provence'}

In [42]:
print(len(new_set))

4

In [43]:
new_set.add("Toulon")
print(new_set)

{'Rennes', 'Nice', 'Marseille', 'Aix-en-Provence', 'Toulon'}

In [45]:
new_set.remove("Toulon")
print(new_set)

{'Rennes', 'Nice', 'Marseille', 'Aix-en-Provence'}

In [46]:
print("Marseille" in new_set)

True

In [47]:
print("Paris" in new_set)

False

In [48]:
new_set = set({"Marseille", "Aix-en-Provence", "Nice"})
y = new_set.copy()
y.add("Toulon")
print("y : ", y)

y :  {'Marseille', 'Aix-en-Provence', 'Nice', 'Toulon'}

In [49]:
    print("set : ", new_set)

set :  {'Marseille', 'Aix-en-Provence', 'Nice'}

In [50]:
my_list = ["Marseille", "Aix-en-Provence", "Marseille", "Marseille"]
print(my_list)

['Marseille', 'Aix-en-Provence', 'Marseille', 'Marseille']

In [51]:
my_set = set(my_list)
print(my_set)

{'Marseille', 'Aix-en-Provence'}

In [52]:
my_new_list = list(my_set)
print(my_new_list)

['Marseille', 'Aix-en-Provence']

In [53]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [54]:
my_dict = { "nom": "Kyrie",
"prenom": "John",
"naissance": 1992,
"equipes": ["Cleveland", "Boston"]}
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Cleveland', 'Boston']}

In [55]:
x = dict([("Julien-Yacine", "Data-scientist"),
("Sonia", "Director")])
print(x)

{'Julien-Yacine': 'Data-scientist', 'Sonia': 'Director'}

In [56]:
print(my_dict["prenom"])

John

In [57]:
print(my_dict["equipes"])

['Cleveland', 'Boston']

In [58]:
print(my_dict["age"])

KeyError: 'age'

In [60]:
print("prenom" in my_dict)

True

In [61]:
print("age" in my_dict)

False

In [62]:
print(my_dict.get("prenom"))

John

In [63]:
 print(my_dict.get("age"))

None

In [64]:
the_keys = my_dict.keys()
print(the_keys)

dict_keys(['nom', 'prenom', 'naissance', 'equipes'])

In [65]:
print(type(the_keys))

<class 'dict_keys'>

In [66]:
the_keys_list = list(the_keys)
print(the_keys_list)

['nom', 'prenom', 'naissance', 'equipes']

In [67]:
the_values = my_dict.values()
print(the_values)

dict_values(['Kyrie', 'John', 1992, ['Cleveland', 'Boston']])

In [68]:
print(type(the_values))

<class 'dict_values'>

In [69]:
the_items = my_dict.items()
print(the_items)

dict_items([('nom', 'Kyrie'), ('prenom', 'John'), ('naissance', 1992), ('equipes', ['Cleveland', 'Boston'])])

In [70]:
print(type(the_items))

<class 'dict_items'>

In [71]:
print("age" in the_keys)

False

In [72]:
print("nom" in the_keys)

True

In [73]:
print(['Cleveland', 'Boston'] in the_values)

True

In [74]:
my_dict["equipes"] = ["Montclair Kimberley Academy",
"Cleveland Cavaliers", "Boston Celtics"]
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics']}

In [75]:
my_dict["taille_cm"] = 191
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191}

In [76]:
second_dict = {"masse_kg" : 88, "debut_nba" : 2011}
print(second_dict)

{'masse_kg': 88, 'debut_nba': 2011}

In [77]:
my_dict.update(second_dict)
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88, 'debut_nba': 2011}

In [79]:
second_dict["poste"] = "PG"
print(second_dict)

{'masse_kg': 88, 'debut_nba': 2011, 'poste': 'PG'}

In [80]:
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88, 'debut_nba': 2011}

In [81]:
del my_dict["debut_nba"]
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191, 'masse_kg': 88}

In [82]:
res = my_dict.pop("masse_kg")
print(my_dict)

{'nom': 'Kyrie', 'prenom': 'John', 'naissance': 1992, 'equipes': ['Montclair Kimberley Academy', 'Cleveland Cavaliers', 'Boston Celtics'], 'taille_cm': 191}

In [83]:
print(res)

88

In [84]:
d = {"Marseille": 13, "Rennes" : 35}
d2 = d.copy()
d2["Paris"] = 75
print("d: ", d)

d:  {'Marseille': 13, 'Rennes': 35}

In [85]:
print("d2: ", d2)

d2:  {'Marseille': 13, 'Rennes': 35, 'Paris': 75}