# Python 101

## NGÔN NGỮ PYTHON

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
print('Hello World')

Hello World

In [16]:
# Future Value
pv = 100
r = 0.1
n =7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [17]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [18]:
# Python Function def
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [19]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [20]:
score = 80
if score >=60 :
  print("Pass")

Pass

In [21]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x ={x}, price={price, type(price)}, word={word, type(word)}')

2 2.5 Hello
x =2, price=(2.5, <class 'float'>), word=('Hello', <class 'str'>)

In [22]:
x = 2
y = x + 1
print(x,y)

2 3

In [23]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [24]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

In [25]:
x = "Hello World"
print(x, type(x))
x = 2
print(x, type(x))
x = 2.5
print(x, type(x))
x = 7j
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [26]:
x = ["apple", "banana", "cherry"]
x.append('hello')
print(x, type(x), x[1:3])

x = ("apple", "banana", "cherry") # immutable
# x.append('hello')
print(x, type(x), x[1:3])

x = {"name" : "Tom", "age" : 20} # dictionary
print(x, type(x), x['name'], x['age'])

x = {"apple", "banana", "cherry"} # set
x.add('hello')
print(x, type(x))

x = frozenset({"apple", "banana", "cherry"}) # fronzenset
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tom', 'age': 20} <class 'dict'> Tom 20
{'banana', 'apple', 'hello', 'cherry'} <class 'set'>
frozenset({'banana', 'apple', 'cherry'}) <class 'frozenset'>

In [27]:
x = True
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x), hex(id(x)))

x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7e5c9777e980> <class 'memoryview'> 0x7e5c9777e980
None <class 'NoneType'>

In [28]:
 x = str(3)
 y = int(4.3)
 z = float(3)

 print(x, type(x))
 print(y, type(y))
 print(z, type(z))

3 <class 'str'>
4 <class 'int'>
3.0 <class 'float'>

In [29]:
 x = 2
 print(x, type(x))

 y = 3.4
 print(y, type(y))

 z = 7j + 3.5
 print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [30]:
# Operator
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7//2)
print(7%2)
print(7**2)

9
5
14
3.5
3
1
49

In [31]:
# Comparision
print(3 > 2)
print(3 == 2)
print(3 < 2)
print(3 != 2)

True
False
False
True

In [32]:
# bmi
# input
height_cm = 170
weight_kg = 60

# process
height_m= height_cm/100
bmi = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(bmi,2)))

Your BMI is: 20.76

In [33]:
# 100$ sau 7 nam
fv = 100 * (1 + 0.1) ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [34]:
# input
pv = 100
r = 0.1
n =7

# process
fv = pv * ((1 + r)**n)
print(round(fv, 2))

194.87

In [35]:
# input
amount = 100
interest = 10 # 10%
years = 7

# process
future_value = amount * ((1 + (0.01 * interest)) ** years)
print('future_value = ', round(future_value, 2))

future_value =  194.87

## CẤU TRÚC DỮ LIỆU

In [36]:
x = ["apple", "banana", "cherry"] # list
print(x, type(x))

x = ("apple", "banana", "cherry") # tuple
print(x, type(x))

x = {"name" : "Tom", "age" : 20} # dictionary
print(x, type(x))

x = {"apple", "banana", "cherry"} # set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [37]:
# List
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [38]:
# tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
# x[0] = 50 # error

5
10
20
50

In [39]:
# set
animals = {'cat', 'dog'}
print('cat'in animals)
print('fish' in animals)
animals.add('fish')
print('fish'in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [40]:
# dictionary
k = { 'EN':'English', 'FR':'French'}
print(k['EN'])

English

In [41]:
# data types
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue")      #tuples ()
animals = {'cat', 'dog'}               #sets {}
person = {"name" : "Tom", "age" : 20}  #dictionaries {}

In [42]:
# lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [43]:
# tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "- Account number:", account[1])

Account name: Cash - Account number: 1001
Account name: Accounts Receivable - Account number: 1002
Account name: Inventory - Account number: 1003

In [44]:
# set
account_numbers = set([acc[1] for acc in accounts]) # set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
  print(f'Account number {new_acc_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [45]:
# dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for acc_num, acc_info in accounts.items():
  print('-'*50)
  print('Account number: ', acc_num)
  print('Account name: ', acc_info['name'])
  print('Account balance: ', acc_info['balance'])
  print('Account type: ', acc_info['type'])

--------------------------------------------------
Account number:  1001
Account name:  Cash
Account balance:  500.0
Account type:  Asset
--------------------------------------------------
Account number:  1002
Account name:  Accounts Receivable
Account balance:  1000.0
Account type:  Asset
--------------------------------------------------
Account number:  2001
Account name:  Accounts Payable
Account balance:  750.0
Account type:  Liability

In [46]:
# if
score = 80
if score >= 60:
  print('Pass')
else: # score < 60
  print('Fail')

Pass

In [47]:
# if
score = 80
if score >= 90:
  print('A')
if score >= 60: # score < 90 and score >= 60
  print('Pass')
else: # score < 60
  print('Fail')

Pass

In [48]:
# if
score = 90
grade = ''
if score >= 90:
  grade = 'A'
elif score >= 80: # score < 90 and score >= 80
  grade = 'B'
elif score >= 70: # [70, 80]
  grade ='C'
elif score >= 60: # [60, 70]
  grade = 'D'
else: # score < 60
  grade = 'E'
print('Grade: ', grade)

Grade:  A

In [49]:
# loop
for i in range(1, 6): # 1<=1<6
  print(i)

1
2
3
4
5

In [50]:
 # 2 loop
for i in range(1, 10): # i: 1->9
    for j in range(1, 10): # j: 1->9
      print(f'{i} * {j} = {i*j}')
print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [51]:
# while
age = 10
while age < 20:
  print(age)
  age = age + 1

10
11
12
13
14
15
16
17
18
19

## Module & Function

In [52]:
# Function
def getfv(pv, r, n):
  fv = pv * ((1+ (r)) ** n)
  return fv
  pass

fv = getfv(100, 0.1, 7)
print('Future value = ', round(fv, 2))

Future value =  194.87

In [53]:
# class: properties (variable) + methods (funtions)
class MyClass:
  x = 5

c1 = MyClass()
print(c1.x)

5

In [54]:
# class
class Person:
  def __init__(self, name, age): # constructor (ham tao doi tuong)
    self.name= name
    self.age= age

p1 = Person("Alan", 20)
print(p1.name, p1.age)

Alan 20

In [55]:
# class
class Person:
  def __init__(self, name, age): # constructor (ham tao doi tuong)
    self.name = name
    self.age = age

  def myfunc(self):
    print('Hello my name is ', self.name)
    pass

p1 = Person('Alan', 20)
print(p1.name, p1.age)
p1.myfunc()

Alan 20
Hello my name is  Alan

In [56]:
class Vehicle:
    def __init__(self, name="", kind="car", color="", value=100.0):
      self.name = name
      self.kind = kind
      self.color = color
      self.value = value

    def description(self):
        desc_str = f'{self.name} is a {self.color} {self.kind} worth ${self.value:.2f}'
        return desc_str

car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.0

car2 = Vehicle("Jump", "blue", "van", 10000.0)

print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00
Jump is a van blue worth $10000.00

In [57]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, " + name)

def greeting_vn(name):
  print("Xin chao, " + name)

Writing mymodule.py

In [58]:
!cat mymodule.py

def greeting(name):
  print("Hello, " + name)

def greeting_vn(name):
  print("Xin chao, " + name)

In [59]:
import mymodule as m1
import importlib
importlib.reload(m1)
m1.greeting('Alan')
m1.greeting_vn("Alan")

Hello, Alan
Xin chao, Alan

##Read/Write File

In [60]:
with open('a.txt', 'w') as file:
  file.write('Hello, World\nThis is demo input/output')

!cat a.txt

Hello, World
This is demo input/output

In [61]:
with open('a.txt', 'r') as file:
  print(file.readlines())

['Hello, World\n', 'This is demo input/output']

In [62]:
%%writefile demo.py
def main():
  print('Hello, World!')

print(__name__)

if __name__ == "__main__":
  main()

Writing demo.py

In [63]:
%run demo.py

__main__
Hello, World!

In [64]:
import demo

demo

## Try, Except & File Handling

In [65]:
try:
  f = open('aa.txt')
  f.close()
except: # neu loi
  print('File Error')
  pass
finally: # khong loi + loi deu xuong
  print('Final')

File Error
Final

In [66]:
!ls /content/drive/MyDrive/

'Bài tập 1'		      'Huế - SG'
'Bai tap 2'		      'KINH TẾ HỌC TÀI CHÍNH'
'BÀI TẬP CHO LƯU MINTE.gdoc'  'MAY 💗 MINTE'
'Bản ghi mới 2.m4a'	       MOS.gdoc
'Bản ghi mới 3.m4a'	      'POWER POINT-20240428T151657Z-001.zip'
 Coca			       SCRIPT.gdoc
'Colab Notebooks'	      'Tài liệu không có tiêu đề.gdoc'
'EXAM 1'		      'TAI LIEU VĂN.7z'
'EXAM 2'		      'TAI LIEU VĂN.rar'
'HỌC KỲ 3'		       WORD-20240402T052608Z-001.zip

In [67]:
import os

print(os.getcwd()) # lay thu muc hien tai dang dung
print(os.listdir(os.getcwd()))

/content
['.config', 'demo.py', '__pycache__', 'a.txt', 'drive', 'mymodule.py', 'sample_data']

In [68]:
path =os.path.join(os.getcwd(), 'sample_data')
print(path)
print(os.listdir(path))

/content/sample_data
['anscombe.json', 'README.md', 'mnist_train_small.csv', 'mnist_test.csv', 'california_housing_test.csv', 'california_housing_train.csv']

In [69]:
import glob

In [70]:
glob.glob('/content/sample_data/*.csv')

['/content/sample_data/mnist_train_small.csv',
 '/content/sample_data/mnist_test.csv',
 '/content/sample_data/california_housing_test.csv',
 '/content/sample_data/california_housing_train.csv']

#Kết thúc